<div id="settings" class="modal modal__none">
  <div class="modal-content">
    {{{close}}}
    <div class="chats__add-user">
      {{{input}}}
      {{{add}}}
    </div>
    <ul class="users__list">
      {{#each users}}
        {{{this}}}
      {{/each}}
    </ul>
    {{{button}}}
  </div>
</div>
