<div class="login">
  <h1 class="login__title">Вход</h1>
  <form class="login__form" onsubmit={{this.onSubmit}}>
    <div class="login__form-group">
      {{#each inputs }}
        {{{ Label for=this.for class=this.classLabel label=this.title }}}
        {{{ Input type=this.type placeholder=this.placeholder name=this.name class=this.classInput pattern=this.pattern }}}
         <span class="input_error">Некорректное значение</span>
      {{/each}}
    </div>
    {{{Button label='Авторизоваться' class='button' type='submit'}}}
    {{{Button label='Нет аккаунта?' class='login__link button_st' type=../type }}}
  </form>
</div>
