<div class="login">
  <h1 class="login__title">Регистрация</h1>
  <form class="login__form" novalidate onsubmit={{this.onSubmit}}>
    <div class="login__form-group">
      {{{email}}}
      {{{login}}}
      {{{firstName}}}
      {{{secondName}}}
      {{{phone}}}
      {{{password}}}
      {{{password2}}}
    </div>
    {{{button}}}
    {{{link}}}
  </form>
</div>
