<div class="profile settings">
  {{{BackButton type=this.type}}}
  <div class="profile__header">
    <div class="profile__avatar"></div>
  </div>
  <form class="profile__info" onsubmit={{this.onSubmit}}>
    {{#each inputs}}
    <div class="profile__info-item">
      <h3 class="profile__info-title">{{ this.title }}</h3>
      {{{Input type=../inputType name=this.name class=../class pattern=this.pattern}}}
    </div>
    <span class="input_error">Некорректное значение</span>
    {{/each}}
    {{{Button ref="button" label='Сохранить' class="button" type='submit'}}}
  </form>
</div>
